{% extends "base_site.html" %}

{% block extrahead %}
  {% load jquery_ui_tags %}
  {% include_jquery_ui %}
  {% include_jquery_notification %}
  {% load dajaxice_templatetags %}
  {% dajaxice_js_import %}
  {% load gui_tags %}
  {% include_task_list %}
{% endblock %}

{% block content %}
  <div id="dialog-modal" title="Basic modal dialog">
	  <p>Adding the modal overlay screen makes the dialog look more prominent because it dims out the page content.</p>
  </div>
  
  <div class="module" id="changelist"  style="width:700px;">
    <h2>Tasks</h2>
    <table id="result_list" style="width:100%;">
       <thead>
       <tr>
         <th>Name</th>
         <th>Subtasks count</th>
         <th>Progress</th>
         <th>File Name</th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
       </tr>
       </thead>
        {% for task in object_list %}
        <tr class="{% cycle 'row1' 'row2' %}" style="height:50px;">
          <td><a href="/admin/gui/task/{{ task.id }}">{{ task.task_name }}</a></td>
          <td>{{ task.subtasks }}</td>
          <td style="width:220px;"><div class="progressbar" style="width:200px;"/><div style="float:right;">(<span class="progress">{{ task.progress }}</span>)%</div></td>
          <td>{{ task.filename }}</td>
          <td>
            {% if task.paused %}
              <button class="play">Start task</button>
            {% else %}
              <button class="pause">Pause task</button>
            {% endif %}
          </td>
          <td>
            <button class="stop" >Stop task</button>
          </td>
          <td>
            <button class="trash" >Delete task</button>
          </td>
          <td>
            <button class="results" >Download results</button>
          </td>      
          <td>
            <button class="settings" >Settings...</button>
          </td>                
        </tr>
        {% endfor %}
    </table>
  </div>  
{% endblock %}

